<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dependency Uploader</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Dependency Downloader</h1>
      <h3>Download all dependency packages</h3>
      <p>
        Example: <code>openai</code> Python (3.13) or,
        <code>express</code> Node.js 22.5.1
      </p>
      <form id="package-form" action="/upload" method="post">
        <textarea id="package-list" name="package_list" required></textarea>
        <h4>Check the policy to write S3 bucket before submit</h4>
        <input
          type="text"
          id="bucket-name"
          name="bucket_name"
          placeholder="Enter S3 bucket name"
          required
        />
        <h4>Package Type:</h4>
        <select id="package-type" name="package_type" required>
          <option value="python">Python</option>
          <option value="node">Node.js</option>
        </select>
        <button type="submit">Upload</button>
      </form>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
