<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
        <p style="color: red" id="error-message"></p>
      </form>
      {% if invalid %}
      <p style="color: red">Invalid username or password</p>
      {% endif %}
    </div>
  </body>
</html>
